body {
  font-family: Arial, sans-serif;
  margin: 2rem;
  background-color: #fff;
  color:#000;
}

h1 {
  color: #000000;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 1rem;
  color: #000;
}
/* 
a {
  color: #0202e4;
  text-decoration: none;
} */

a:link,a:visited {
  color: #0000CC;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
